.logo
{
    height: 50px;
    width: 50px;
    border-radius: 90px;
}
.div{
    display: flex;
}
@media (max-width: 900px) {
  body {
    background-color: lightblue;
  }
}
.nav-link
{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: -40px;
    justify-content: flex-end;
    width: 95%;
}
.signup
{
    background-color: rgb(237, 100, 100);
    border-radius: 20%;
}
.shree
{
    background-color: rgb(138, 216, 209);
}
.pic
{
    height: 250px;
    width: 250px;
    
}
.grid-container
       {
        display: grid;
        grid-template: 100px 100px 100px 100px / 100px 100px 100px 100px;
        row-gap: 20px;
        column-gap: 30px;
       }
       .grid-container div
       {
        border: 2px solid rgb(19, 20, 20);
        
       }
